.card {
  position: relative;
  border-radius: 0.8em;
  background-color: var(--light-red-work);
  padding-top: 2em;
  overflow: hidden;
}

.card__icon {
  position: absolute;
  right: 1em;
  top: -0.5em;
}

.card__content {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.4em;
  background-color: var(--dark-blue);
  padding: 1.5em 1.3em;
  align-items: center;
}

.card__title {
  margin: 0;
  color: var(--white);
  font-size: 1em;
}

.card__more {
  justify-self: right;
}

.card__hours {
  color: var(--white);
  font-size: 1.8em;
}

.card__previous {
  justify-self: right;
  color: var(--pale-blue);
  font-size: 0.8em;
}