@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('./components/card/card.css');
@import url('./components/profile/profile.css');

:root {
  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(226, 41%, 10%);
  --dark-blue: hsl(236, 45%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  --blue: hsl(246, 80%, 60%);

  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-self-care: hsl(43, 84%, 65%);

  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
}

.main {
  min-width: 20em;
  padding: 4.5em 1.3em;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

@media (min-width: 850px) {
  body {
    height: 100vh;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.3em;
  }
}